<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="¿Qué es la Ciberseguridad">
    <meta name="keywords" content="Ciberseguridad, equipos, red">
    <meta name="author" content="Francisco Cortés">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/header.css">
    <link rel="stylesheet" href="./static/css/main.css">
    <link rel="stylesheet" href="./static/css/footer.css">
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="stylesheet" href="./static/css/mensaje.css">
    <title>Ciberseguridad</title>
</head>
<body>
    <main class="contenedor-contenido">
        <section class="contenido-4">
            <div style="width: 100%;" class="cont-izq">
                <h2>Inscripción a Noticias Semanales</h2>
                <p>
                    {{ mensaje }}
                </p>

                <a class="boton" href="/">Volver</a>
            </div>
        </section>
    </main>
</body>
</html>